<template>
	<view class="page">
		<!-- 导航区 start -->
		<view class="header-box">
			<view class="logo">
				亲客
			</view>
			<view class="right-block">
				<image src="../../static/search.png" mode=""></image>
				<image src="../../static/header.jpeg" mode=""></image>
			</view>
		</view>
		<!-- 导航区 end -->
		
		<!-- 快捷导航区 start -->
		<view class="panel">
			<view class="panel-title">
				<image src="../../static/nav.png" mode="" class="panel-title-icon"></image>
				<view class="panel-title-text">
					快捷操作
				</view>
			</view>
			<view class="fast-action-block">
				<navigator url="../goods/goods">
					<view class="action-block">
						<image src="../../static/goods.png" mode="" class="action-icon"></image>
						<view class="action-text">
							商品管理
						</view>
					</view>
				</navigator>
				<view class="action-block">
					
				</view>
				<view class="action-block">
					
				</view>
				<view class="action-block">
					
				</view>
				<view class="action-block">
					
				</view>
				<view class="action-block">
					
				</view>
			</view>
		</view>
		<!-- 快捷导航区 end -->
		
		<!-- 订单信息 start -->
		<view class="panel">
			<view class="panel-title">
				<image src="../../static/index-icon-order.png" mode="" class="panel-title-icon"></image>
				<view class="panel-title-text">
					 订单信息
				</view>
			</view>
			
		</view>
		<!-- 订单信息 end -->
		
		<!-- 营销学堂 start -->
		<view class="panel">
			<view class="panel-title">
				<image src="../../static/index-icon-course.png" mode="" class="panel-title-icon"></image>
				<view class="panel-title-text">
					 订单信息
				</view>
			</view>
			
		</view>
		<!-- 营销学堂 end -->
		
		<!-- 会员管理 start -->
		<view class="panel">
			<view class="panel-title">
				<image src="../../static/index-icon-order.png" mode="" class="panel-title-icon"></image>
				<view class="panel-title-text">
					 订单信息
				</view>
			</view>
			
		</view>
		<!-- 会员管理 end -->
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			}
		},
		methods: {
			
		}
	}
</script>

<style>
	@import url("index.css");
</style>