/* .page{
	background-color: #007AFF;
	background-repeat:no-repeat ;
	background-size:100% 100%; 
	background-attachment: fixed;
} */
.page {
	background-color: #f7f7f7;
	width: 100%;
	min-height: 1180upx;
}

/* 导航区 start */
.header-box{
	display: flex;
	width: 100%;
	height: 88upx;
	align-items: center;
}
.logo{
	width: 172pux;
	padding-left: 24upx;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
}

.right-block{
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
	align-items: center;
	width: 144pux;
	height: 88upx;
	padding-right: 24upx;
}
.right-block image{
	width: 64upx;
	height: 64upx;
	border-radius: 32upx;
	margin-right: 16upx;
}
/* 导航区 end */

/* 快速导航区 start */
.fast-action-block{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0upx 32upx;
	min-height: 304upx;
}
.action-block{
	display: flex;
	align-items: center;
	width: 320upx;
	height: 80upx;
	background-color: #F9F9F9;
}
.action-icon{
	width: 48upx;
	height: 48upx;
	margin: 0upx 12upx 0upx 24upx;
}
.action-text{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 48upx;

	font-size: 12px;
	color: #333333;
	/* border: 1px solid #007AFF; */
	font-weight: 800;
}

/* 快速导航区 end */


