<template>
	<view class="content">
		<view class="tip">
			* 完善个人信息{{ checkbox }}
		</view>
		<form @submit="formSubmit" @reset="formReset">	
		 <van-field  name="name" clearable label="姓名" placeholder="请输入姓名"  />
		 <van-field  name="phone" type="tel"  clearable label="手机号" placeholder="请输入手机号"  />
		 <van-field  name="idCard" clearable label="身份证" placeholder="请输入身份证号"  />
		 <van-field  name="carNumber" clearable label="车牌号" placeholder="请输入车牌号"  /> 
		  <van-cell center title="有无疫区旅行,居住,接触经历">
		    <switch  name="status"  slot="right-icon" />
		  </van-cell>
		  <view class="uni-btn-v">
				<button formType="submit">提交</button>
			</view>
	    </form>		  
	</view>
</template>

<script>
	export default {
		data() {
			return {
				 name: '',
				 phone: '',
				 idCard: '',
				 carNumber: '',
				 status: true
			}
		},
		methods: {
			formSubmit: function(e) {
				var me = this;
				var serverUrl = me.serverUrl;
			    console.log('form发生了submit事件，携带数据为：' + JSON.stringify(e.detail.value));
				uni.request({
				    url:  "http://mark.vaiwan.com/customer/register", 
				    data: JSON.stringify(e.detail.value),
					method: 'POST',
				    success: (res) => {
						console.log(res.data);
						var result = res.data;
						var message = res.message;
						debugger;
						message = message.replace("<br>", "\r\n");
						
						if(result.success == false){
							uni.showModal({
							    title: '提示',
							    content: message,
								showCancel: false,
							    success: function (res) {
							        if (res.confirm) {
							            console.log('用户点击确定');
							        }
							    }
							});
						}
				        
				    }
				});
			}
		}
	}
</script>

<style>
 @import url("goods.css");
</style>
