.tip{
	margin: 5upx 30upx;
	font-size: 14px;
	font-weight: 500;
	color: #C0C0C0;
}
.uni-form-item{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.uni-btn-v{
	margin-top: 10upx;
	width: 100%;
	height: 80upx;
}
.uni-btn-v button{
	width: 90%;
	border-radius: 80upx;
	border-color: #007AFF;
	background-color: #007AFF;
	font-size: 14px;
	color: #FFFFFF;
}