<script>
	export default {
		onLaunch: function() {
			console.log('App Launch')
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		}
	}
</script>

<style>
	@import "/wxcomponents/vant/dist/common/index.wxss";
	/*每个页面公共css */
	.page{
		/* background: #F9F9F9 repeat-y; */
		background-color: #f7f7f7;
	}
	.panel{
		width: 726upx;
		min-height: 176upx;
		margin: 10upx auto;
		border-radius: 10upx;
		background-color: #FFFFFF;
		padding-bottom: 16upx;
	}
	.panel-title{
		display: flex;
		width: 100%;
		height: 88upx;
		align-items: center;
	}
	.panel-title-icon{
		width: 40upx;
		height: 40upx;
		margin: 0upx 12upx 0upx 32upx;
		/* border: 1px solid #007AFF; */
	}
	.panel-title-text{
		flex-grow: 1;
		height: 40upx;
		font-size: 13px;
		font-weight: bold;
		color: #333333;
		/* border: 1px solid #007AFF; */
	}
</style>
